div {
    width: 50%;
    margin: 10px auto 10px auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.field {
    display: flex;
    height: 50px;
    flex-direction: row;
    justify-content: space-between;
}

.symptom-field {
    height: 150px;
}

.symptom {
    display: flex;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border: 1px solid blueviolet;
    background-color: blueviolet;
    color: white;
}

label {
    text-align: left;
    width: 50%;
    transform: translate(0px, 9px);
}

.our_symptoms {
    width: 100%;
}

input {
    width: 50%;
    font-size: 20px;
    text-align: center;
    border: none;
    border-bottom: 1px solid gray;
}

input:focus {
    outline: none;
    border-bottom: 2px solid purple;
}

h3 {
    width: 100%;
    text-align: center;
}

.symptoms {
    height: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
}

fa-icon {
    margin: 0px 0px 0px 5px;
    color: #8a0303;
}

button {
    height: 40px;
    font-size: 20px;
    margin: 0 auto 0 auto;
    padding: 10px;
    color: white;
    background-color: rgb(136, 9, 104);
    border: 1px solid violet;
    border-radius: 20px;
    box-shadow: 0px 3px blueviolet;
}

button:active {
    box-shadow: none;
    transform: translate(0px, 3px);
}

p.error {
    text-align: center;
    color: #8a0303;
    font-weight: bolder;
}

h3.not-selected {
    color: rgba(128, 128, 128, 0.582);
}

div.prediction {
    position: fixed;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.61);
    width: 100vw;
    height: 100vh;
    top: 0;
    z-index: 100;
}

div.prediction div {
    height: 200px;
    padding: 20px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    color: blueviolet;
    z-index: 101;
}

button.back {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 99;
}

button.back fa-icon {
    color: white;
    margin: auto;
    vertical-align: middle;
}

@media only screen and (max-width: 500px) {
    div {
        width: 100%;
    }
}