<div class="field">
    <label for="other">{{field?.question}}</label>
    <input type="text" id="other" [placeholder]="field?.placeholder" [(ngModel)]="model"
        (ngModelChange)="onOtherChange()" />
    <span *ngIf="error">{{error}}</span>
    <button [disabled]="error !==''" (click)="onNext()">Next</button>
</div>
<div class="other" *ngIf="field?.isSelect">
    <div *ngFor="let other of our_symptoms" class="oursymptom">
        <p class="others">{{other}}</p>
        <div class="delete" (click)="deleteSymptom(other)"><fa-icon [icon]="x_icon"></fa-icon></div>
    </div>
</div>
<div class="symptoms" *ngIf="field?.isSelect">
    <p class="symptom" *ngFor="let s of listed_symptom" (click)="insertSymptom(s)">{{s}}</p>
</div>