<div>Search and filters to be added!!</div>
<div>
    <table>
        <tr>
            <th>ID:</th>
            <th>No. of Attacks:</th>
            <th>Duration of Attacks:</th>
            <th class="symptom">Symptoms:</th>
            <th>Prediction:</th>
            <th>Prognosis:</th>
        </tr>
        <tr *ngFor="let data of data">
            <td>{{data.id}}</td>
            <td>{{data.attacks}}</td>
            <td>{{data.duration}}</td>
            <td class="symptoms">
                <!-- {{data.symptoms.slice(0, 5)}} -->
                <p *ngFor="let symptom of data.symptoms">{{symptom}}</p>
                <span *ngIf="data.symptoms.length === 0">No data</span>
            </td>
            <td>{{("" + data.prediction).slice(0,4)}}</td>
            <td>{{data.prediction > 0.5? "Migraine Without Aura" : "Probable Migraine"}}</td>
        </tr>
    </table>
</div>